html {
    background-color: antiquewhite;
}

body {
    margin: 4vh 6vw 4vh 6vw;
    padding: 2vw;
    background-color:rgb(197, 93, 93);
    border: solid rgb(255, 137, 111) 10px;
}

img {
    border: solid rgb(214, 152, 143) 0.5vw;
}

#praying {
    width: 25vw;
}

#flstudio {
    width: 50vw;
}

h1 {
    color: rgb(105, 21, 21);
    font-size: 6vw;
}

h2 {
    font-style: oblique;
    color: rgb(177, 0, 0);
    font-size: 4vw;
}

h3 {
    font-size: 3vw;
}

ol, ul {
    font-size: 2vw;
}

p {
    font-size: 2vw;
}

div {
    font-size: 50vw;
}